.footer {
    min-height: 100px;
    background-color: grey;
    position: relative;
    font-family: "Arial Black", Gadget, sans-serif
  }
  
.footer span {
position: absolute;
bottom: 0;
left: 0;
right: 0;
padding: 3px;
background-color: darkslategrey;;
}
